*{
    box-sizing: border-box;
}

body{
    font-family: var(--font-family);
    font-size: var(--base-fs);
    color: var(--base-text-color);
}


a{
    color: var(--base-text-color);
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

input{
    border: none;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: transparent;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #000;
}

main{
    padding-top: 52px;
    margin-left: 350px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

@media screen and (max-width:1200px) {
    main{
        margin-left: 80px;
    }
}

