.category{
    display: block;
    overflow-y: auto;
    min-height: 68px;
    display: flex;
    align-items: center;
}

.category tr{
    display: table;
    width: 100%;
}

.category::-webkit-scrollbar {
    display: none;
    width: 0px;
}

.category__elem:first-child .category__link{
    margin-left: 0;
}

.category__link{
    display: block;
    border:1px solid #ccc;
    background: #eee;
    padding: 5px 15px;
    border-radius: 30px;
    margin: 0 10px;
}

.category__link:hover{
    background: #ccc;
}

.category__elem:first-child .category__link{
    background: #FF4F13;
    color: #fff;
    border: 1px solid #FF4F13;
}