.btn{
    border: none;
    background: none;
    padding: 5px;
    transition: all 300ms ease-in-out;
}

.btn-icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #ccc;
}
.btn-icon:hover{
    color: #000;
}
