.sidebar{
    position: fixed;
    left: 0;
    width: 350px;
    height: 100vh;
    padding-top: 52px;
    background: #eee;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.streamers{
    overflow-y: auto;
}
.streamers__link{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background 300ms ease-in-out;
}

.streamers__link:hover{
    background: #ccc;
}

.user-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar{
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.user-info .avatar{
    flex: 0 0 48px;
    max-width: 48px;
    margin-right: 5px;
}

.user-info .name{
    flex: 1 1 100%;
    max-width: 100%;
    transition: 300ms ease-in-out;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    line-height: 28px;
}

.user-info:hover .name{
    color: #0742F5;
}

.user-info .name .description{
    display: block;
    font-size: 16px;
    color: #999;
    line-height: 150%;
}

.user-info .watchers{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 80px;
    max-width: 80px;
}

.user-info .more{
    display: flex;
    flex: 0 0 40px;
    max-width: 40px;
}

.more i {
    margin: auto;
}

.watchers .status{
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #E0020A;
    margin-right: 5px;
    animation: pulse 1000ms ease-in-out infinite;
}

.online .watchers .status{
    display: block;
}


.info{
    border-top: 1px solid #fff;
    padding: 20px;
    display: flex;
    color: #000;
}

.info__block{
    margin: auto;
    text-align: center;
    background: #ccc;
    width: 100%;
    padding: 15px 30px;
}

.info__text{
    font-size: 26px;
    margin-bottom: 15px;
}

.info__text::selection{
    color: #fff;
    background: #FF4F13;
}

.soc-link{
    display: inline-block;
    font-size: 28px;
    margin:0 5px;
    color: inherit;
    transition: all 300ms ease-in-out;
}

.soc-link:hover{
    color: #0742F5;
    transform: rotate(360deg);
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
        background: green;
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width:1200px) {
    .sidebar{
        width: 75px;
    }
    .streamers__link .name,
    .streamers__link .watchers {
        display: none;
    }
    .info{
        display: none;
    }
}