.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #fff;
}

.logo {
    flex:1 1 100%
}

.logo__link{
    font-size: 32px;
    color: #FF4F13;
    font-weight: bold;
}

.search{
    display: flex;
    flex:1 1 100%;
    max-width: 450px;
}

.search__input{
    display: flex;
    flex:1 1 100%;
    border-radius: var(--br);
    overflow: hidden;
}

.search__input .form-control{
    flex:1 1 100%;
    width: 100%;
    border: 1px solid #ccc;
    border-top-left-radius: var(--br);
    border-bottom-left-radius: var(--br);
    padding:0px 0 0px 10px;
    transition: border 300ms ease-in-out;
}

.search__input .form-control:focus{
    border-color:#3931DE;
}

.search .btn-search{
    background: #ccc;
    color: #000;
    padding: 0 10px;
}


.right-icons-group{
    display: flex;
    flex: 1 1 100%;
    justify-content: flex-end;
}

.btn-user{
    color: #000;
    background: #FF4F13;
}





.dropdown{
    display: block;
    overflow: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 150px;
    color: inherit;
    background: #fff;
    border-radius: var(--br);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 300ms ease-in-out;
    transform-origin: top right;
    transform: scale(0) ;
    opacity: 0;
}

.dropdown__elem{
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    transition: all 300ms ease-in-out;
}

.dropdown__elem:hover{
    background: #ccc;
}

.dropdown__elem:last-child{
    border: none;
    color: #FF4F13;
}

.dropdown__elem:last-child a{
    color: inherit;
}

.user-settings{
    position: relative;
}

.user-settings:hover .dropdown{
    transform: scale(1) translateY(5px);
    opacity: 1;
}

.user-settings:hover .btn-user{
    background: #ccc;
    transform: rotate(360deg);
}