.video-carousel{
    margin-bottom: 30px;
}
.carousel__elem{
    display: flex;
}

.carousel__elem .video-block{
    flex: 1 1 100%;
}

.carousel__elem .description-block{
    padding: 30px 15px 0;
    flex:0 0 300px;
    width: 300px;
    background: #eee;
}

.description-block .video-title{
    max-width: calc(100% - 55px);
}

.description-block .video-info{
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 15px;
}

.video-description::selection{
    color: #fff;
    background: #FF4F13;
}

.video-carousel{
    position: relative;
    min-height: 400px;
    max-width: 100%;
    overflow:hidden;
}
  
.carousel__elem {
    position: absolute;
    top: 0;
    left:0;
    opacity: 0;
    animation: display 40s infinite;
    width: 100%;
}
  
.carousel__elem:nth-child(2) {
    animation-delay: 8s;
}
.carousel__elem:nth-child(3) {
    animation-delay: 16s;
}
.carousel__elem:nth-child(4) {
    animation-delay: 24s;
}
.carousel__elem:nth-child(5) {
    animation-delay: 32s;
}

@keyframes display {
0% {
    transform: translateX(200px);
    opacity: 0;
}
10% {
    transform: translateX(0);
    opacity: 1;
}
20% {
    transform: translateX(0);
    opacity: 1;
}
30% {
    transform: translateX(-200px);
    opacity: 0;
}
100% {
    transform: translateX(-200px);
    opacity: 0;
}
}

@media screen and (max-width:1200px) {
    .video-carousel{
        display: none;
    }
}
  
