.video-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap:10px;
}


.video-preview{
    position: relative;
    color:#fff;
}

.video-preview .overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 0;
    pointer-events: none;
    transition: 300ms ease-in-out;
}

.video-preview:hover .overlay{
    opacity: 1;
    pointer-events: all;
}

.overlay .play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%,-50%);
}

.live{
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    background: red;
    border-radius: var(--br);
    padding: 2px 5px;
    font-size: 14px;
    text-transform: uppercase;
    color: inherit;
}

.online .live{
    display: block;
}

.viewers{
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: var(--br);
    padding: 2px 5px;
    font-size: 16px;
    color: inherit;
}

.online .viewers{
    display: block;
}

.duration{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: var(--br);
    padding: 2px 5px;
    font-size: 16px;
    margin: 0 5px 5px 0;
    color:inherit;
}

.online .duration{
    display: none;
}


.video-preview .preview-img{
    max-width: 100%;
    object-fit: cover;
}

.video-info{
    padding: 15px 0 0;
}

.video-info .name{
    font-weight: bold;
}

.video-info .video-title{
    flex:1 1 100%;
}

.video-title {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 88px);
    font-weight: bold;
}

.video-title .title{
    margin-bottom: 5px;
}

.video-title .author{
    font-size: 16px;
    font-weight: normal;
}

.video-title .title,
.video-title .author{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

